<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LicenceManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LicenceManager.Properties.Settings>
            <setting name="LicenceManager_br_com_databridge_services_DbGen" serializeAs="String">
                <value>http://services.databridge.com.br/DbGen.asmx</value>
            </setting>
            <setting name="LicenceManager_br_com_databridge_services1_ClientServices" serializeAs="String">
                <value>http://services.databridge.com.br/ClientServices.asmx</value>
            </setting>
        </LicenceManager.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
